# Example file showing all services you might want to run
version: '3'

services:
  api_crawler:
    build: ./crawler
    restart: always
    environment:
      PYTHONUNBUFFERED: 1
    stop_signal: SIGINT
    env_file:
      - secrets.env

  web:
    build: ./web
    restart: always
    environment:
      - GIN_MODE=release
      - DB_URL=mongodb://...
    ports:
      - 8080:8080
